# Informe Combustible

In [9]:
def informe(tanque1, tanque2, tanque3):
    promedio = tanque1 + tanque2 + tanque3 / 3
    return f"""Informe:
    Promedio: {promedio}
    Tanque 1: {tanque1}
    Tanque 2: {tanque2}
    Tanque 3: {tanque3}
    """

print(informe(12, 32, 12))

Informe:
    Promedio: 48.0
    Tanque 1: 12
    Tanque 2: 32
    Tanque 3: 12

In [8]:
def promedio(values):
    total = 0
    for val in values:
        total += val
    return total / len(values)

promedio([14, 12, 10])

12.0

In [11]:
def informe(tanque1, tanque2, tanque3):
    avg = promedio([tanque1, tanque2, tanque3])
    return f"""Informe:
    Promedio: {avg}
    Tanque 1: {tanque1}
    Tanque 2: {tanque2}
    Tanque 3: {tanque3}
    """
print(informe(12, 32, 12))

Informe:
    Promedio: 18.666666666666668
    Tanque 1: 12
    Tanque 2: 32
    Tanque 3: 12

# Informe Cohete

In [12]:
def informe(tiempo_prelanzamiento, tiempo_vuelo, destino, tanque_externo, tanque_interno):
    return f"""Informe {destino}
    Tiempo: {tiempo_prelanzamiento + tiempo_vuelo}
    Combustible: {tanque_externo + tanque_interno}
    """

print(informe(12, 51, "Luna", 200, 300))

Informe Luna
    Tiempo: 63
    Combustible: 500

In [14]:
def informe(destino, *tiempos, **combustible):
    return f"""Informe {destino}
    Tiempo: {sum(tiempos)}
    Combustible: {sum(combustible.values())}
    """

print(informe("Luna", 12, 51, tanque1 = 200, tanque2 = 300))

Informe Luna
    Tiempo: 63
    Combustible: 500

In [20]:
def informe(destino, *tiempos, **combustible):
    informe =  f"""Informe {destino}
Tiempo: {sum(tiempos)}
Combustible: {sum(combustible.values())}
"""
    for nombre, valor in combustible.items():
        informe += f"""Tanque: {nombre}, con {valor} litros\n"""
    return informe

print(informe("Luna", 12, 51, tanque1 = 200, tanque2 = 300))

Informe Luna
Tiempo: 63
Combustible: 500
Tanque: tanque1, con 200 litros
Tanque: tanque2, con 300 litros